################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Solution 
.vs
.vscode
/.vs
/.vscode
/.vs/**/*
/.vscode/**/*
**/.vs
**/.vscode
**/.vs/**/*
**/.vscode/**/*
/packages
*.project.lock.json
project.lock.json
*yarn*
yarn*

# directories vs
**/bin
bin
**/obj/
**/obj/Debug
**/v14

# other directories 
**/publish
publish
**/dist
dist

# js 
**/node_modules
**/wwwroot/_references.js

# tests && node modules
_Chutzpah*.html
**/karma-*
**/coverage
coverage
**/npm-*.log

